  <!-- ======= Sidebar ======= -->
  <aside id="sidebar" class="sidebar">

    <ul class="sidebar-nav" id="sidebar-nav">

      <li class="nav-item">
        <a class="nav-link " href="/admin/">
          <i class="fa-solid fa-chart-line"></i>
          <span>Dashboard</span>
        </a>
      </li><!-- End Dashboard Nav -->
<li class="nav-item">
        <a class="nav-link " href="/admin/users">
          <i class="fa-solid fa-users-line"></i>
          <span>Users</span>
        </a>
      </li> 
      <li class="nav-item">
        <a class="nav-link " href="/admin/categories">
          <i class="fa-sharp fa-solid fa-layer-group"></i>
          <span>Categories</span>
        </a>
      </li>
      
      <li class="nav-item">
        <a class="nav-link " href="/admin/products">
          <i class="fa-solid fa-sitemap"></i>
          <span>Products</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link " href="/admin//salesreport">
          <i class="fa-solid fa-database"></i>
          <span>Sales Report</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link " href="/admin/orders">
          <i class="fa-solid fa-box"></i> 
          <span>Orders</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link " href="/admin/coupons">
          <i class="fa-sharp fa-solid fa-sack-dollar"></i>
          <span>Coupons</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link " href="/admin/banners">
       <i class="fa-solid fa-image"></i>
          <span>Banners</span>
        </a>
      </li>

    </ul>

  </aside><!-- End Sidebar-->
<!-- End Page Title -->